interactions:
- request:
    body: redirect_uri=https%3A%2F%2Fhotglue.xyz%2Fcallback&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://login.microsoftonline.com/common/oauth2/token
  response:
    body:
      string: '{"token_type": "Bearer", "scope": "Financials.ReadWrite.All user_impersonation",
        "expires_in": "5249", "ext_expires_in": "5249", "expires_on": "1746647817",
        "not_before": "1746642267", "resource": "https://api.businesscentral.dynamics.com",
        "access_token": "access_token", "refresh_token": "refresh_token"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-srs:
      - 1.P
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"method": "GET", "url": "companies", "headers": {"Content-Type":
      "application/json", "If-Match": "*"}, "body": {}}]}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - odata.continue-on-error=true
    method: POST
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/$batch
  response:
    body:
      string: '{"responses":[{"id":null,"status":200,"headers":{"content-type":"application/json;
        odata.metadata=minimal; odata.streaming=true","odata-version":"4.0"}, "body"
        :{"@odata.context":"https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/$metadata#companies","value":[{"id":"dec6ac9f-b438-ef11-8e52-6045bde9cac0","systemVersion":"25.5.30849.31109","timestamp":4076,"name":"CRONUS
        USA, Inc.","displayName":"","businessProfileId":"","systemCreatedAt":"2024-07-02T20:49:51.26Z","systemCreatedBy":"00000000-0000-0000-0000-000000000001","systemModifiedAt":"2024-07-02T20:49:51.26Z","systemModifiedBy":"00000000-0000-0000-0000-000000000001"}]}}]}'
    headers:
      Content-Type:
      - application/json
      OData-Version:
      - '4.0'
      mise-correlation-id:
      - 28811d10-124c-49f8-bae6-49dbb46a771f
      ms-correlation-x:
      - be0dd082-5267-c13d-b1f2-f7ae9fb6cd6b
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"method": "GET", "url": "companies(dec6ac9f-b438-ef11-8e52-6045bde9cac0)/currencies",
      "headers": {"Content-Type": "application/json", "If-Match": "*"}, "body": {}}]}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - odata.continue-on-error=true
    method: POST
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/$batch
  response:
    body:
      string: '{"responses":[{"id":null,"status":200,"headers":{"content-type":"application/json;
        odata.metadata=minimal; odata.streaming=true","odata-version":"4.0"}, "body"
        :{"@odata.context":"https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/$metadata#companies(dec6ac9f-b438-ef11-8e52-6045bde9cac0)/currencies","value":[{"@odata.etag":"W/\"JzIwOzE3MDI0NDQ5NTk3Nzk5ODc4ODk4MTswMDsn\"","id":"f4861d84-b538-ef11-8e52-6045bde9cac0","code":"CAD","displayName":"Canadian
        dollar","symbol":"$","amountDecimalPlaces":"2:2","amountRoundingPrecision":0.01,"lastModifiedDateTime":"2024-07-02T20:56:47.88Z"},{"@odata.etag":"W/\"JzIwOzEyMDgxNTgyNzA3NjI1MDc0NDA5MTswMDsn\"","id":"f5861d84-b538-ef11-8e52-6045bde9cac0","code":"EUR","displayName":"Euro","symbol":"\u20ac","amountDecimalPlaces":"2:2","amountRoundingPrecision":0.01,"lastModifiedDateTime":"2024-07-02T20:56:47.897Z"},{"@odata.etag":"W/\"JzE4OzczMDkwNjg3NjI5NTU0NTM2MzE7MDA7Jw==\"","id":"f6861d84-b538-ef11-8e52-6045bde9cac0","code":"MXN","displayName":"Mexican
        peso","symbol":"$","amountDecimalPlaces":"2:2","amountRoundingPrecision":0.01,"lastModifiedDateTime":"2024-07-02T20:56:47.913Z"}]}}]}'
    headers:
      Content-Type:
      - application/json
      OData-Version:
      - '4.0'
      mise-correlation-id:
      - fb7d5ccc-e8f7-4f90-be18-2193fc9124f4
      ms-correlation-x:
      - ba00d7c3-2bea-2cef-b365-8729377cc8a3
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"method": "GET", "url": "companies(dec6ac9f-b438-ef11-8e52-6045bde9cac0)/paymentMethods",
      "headers": {"Content-Type": "application/json", "If-Match": "*"}, "body": {}}]}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - odata.continue-on-error=true
    method: POST
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/$batch
  response:
    body:
      string: '{"responses":[{"id":null,"status":200,"he[...]
- request:
    body: '{"requests": [{"method": "GET", "url": "companies(dec6ac9f-b438-ef11-8e52-6045bde9cac0)/dimensions?$expand=dimensionValues",
      "headers": {"Content-Type": "application/json", "If-Match": "*"}, "body": {}}]}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - odata.continue-on-error=true
    method: POST
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/$batch
  response:
    body:
      string: '{"responses":[{"id":null,"status":200,"headers":{"content-type":"application/json;
        odata.metadata=minimal; odata.streaming=true","odata-version":"4.0"}, "body"
        :{"@odata.context":"https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/$metadata#companies(dec6ac9f-b438-ef11-8e52-6045bde9cac0)/dimensions","value":[{"@odata.etag":"W/\"JzE5OzU2MTQyMTgxNjcyNjE3Njk1ODYxOzAwOyc=\"","id":"47a6158a-b538-ef11-8e52-6045bde9cac0","code":"AREA","displayName":"Area","consolidationCode":"","lastModifiedDateTime":"2024-07-02T20:57:00.637Z","dimensionValues":[{"@odata.etag":"W/\"JzE5OzQ3NTA1OTEyMTcxNjk0MjgyMDgxOzAwOyc=\"","id":"81a9158a-b538-ef11-8e52-6045bde9cac0","code":"10","dimensionId":"47a6158a-b538-ef11-8e52-6045bde9cac0","displayName":"Europe","consolidationCode":"","lastModifiedDateTime":"2024-07-02T20:57:09.937Z"},{"@odata.etag":"W/\"JzIwOzEyNDgzMzAwMzMzMjE0MzQwMTY2MTswMDsn\"","id":"2d328ca4-f38f-ef11-8a6b-000d3a72d6b7","code":"15","dimensionId":"47a6158a-b538-ef11-8e52-6045bde9cac0","displayName":"Europe
        South (EU)","consolidationCode":"","lastModifiedDateTime":"2024-10-21T21:30:47.893Z"},{"@odata.etag":"W/\"JzE5OzE2MTQzNDU3NDUzOTk2NTY0MDAxOzAwOyc=\"","id":"82a91[...]
- request:
    body: '{"requests": [{"method": "GET", "url": "companies(dec6ac9f-b438-ef11-8e52-6045bde9cac0)/accounts",
      "headers": {"Content-Type": "application/json", "If-Match": "*"}, "body": {}}]}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - odata.continue-on-error=true
    method: POST
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/$batch
  response:
    body:
      string: '{"responses":[{"id":null,"status":200,"headers":{"content-type":"application/json;
        odata.metadata=minimal; odata.streaming=true","odata-version":"4.0"}, "body"
        :{"@odata.context":"https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/$metadata#companies(dec6ac9f-b438-ef11-8e52-6045bde9cac0)/accounts","value":[{"@odata.etag":"W/\"JzIwOzEwNzUyNDU4ODEyMTQyNzc4OTQ0MTswMDsn\"","id":"8e871d84-b538-ef11-8e52-6045bde9cac0","number":"10000","displayName":"Balance
        Sheet","category":"Assets","subCategory":"Assets","blocked":false,"accountType":"Heading","directPosting":false,"netChange":0,"consolidationTranslationMethod":"Average
        Rate (Manual)","consolidationDebitAccount":"","consolidationCreditAccount":"","excludeFromConsolidation":false,"lastModifiedDateTime":"2024-07-02T20:56:49.657Z"},{"@odata.etag":"W/\"JzE5OzMyNjM3MjczNDYyNzY2MDk2NjUxOzAwOyc=\"","id":"8f871d84-b538-ef11-8e52-6045bde9cac0","number":"10001","displayName":"Assets","category":"Assets","subCategory":"Assets","blocked":false,"accountType":"Begin_x002D_Total","directPosting":false,"netChange":0,"consolidationTranslationMethod":"Average
        Rate (Manual)","consolidationDebitAccount":"","consolidationCreditAccount":"","excludeFromConsolidation":false,"last[...]
- request:
    body: '{"requests": [{"method": "GET", "url": "companies(dec6ac9f-b438-ef11-8e52-6045bde9cac0)/locations",
      "headers": {"Content-Type": "application/json", "If-Match": "*"}, "body": {}}]}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - odata.continue-on-error=true
    method: POST
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/$batch
  response:
    body:
      string: '{"responses":[{"id":null,"status":200,"headers":{"content-type":"application/json;
        odata.metadata=minimal; odata.streaming=true","odata-version":"4.0"}, "body"
        :{"@odata.context":"https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/$metadata#companies(dec6ac9f-b438-ef11-8e52-6045bde9cac0)/locations","value":[{"@odata.etag":"W/\"JzE5Ozk0MDY3NDMwNjU2Nzg4NDU3MzkxOzAwOyc=\"","id":"89871d84-b538-ef11-8e52-6045bde9cac0","code":"EAST","displayName":"East
        Warehouse","contact":"Jeff Smith","addressLine1":"South East Street, 3","addressLine2":"","city":"Atlanta","state":"GA","country":"US","postalCode":"31772","phoneNumber":"","email":"","website":"","lastModifiedDateTime":"2024-07-02T20:56:49.523Z"},{"@odata.etag":"W/\"JzE5Ozg4MjcwMDUyMzk3NDczMzY1NDExOzAwOyc=\"","id":"8a871d84-b538-ef11-8e52-6045bde9cac0","code":"MAIN","displayName":"Main
        Warehouse","contact":"Carole Poland","addressLine1":"520 N Michigan Ave","addressLine2":"","city":"Chicago","state":"IL","country":"US","postalCode":"60611","phoneNumber":"","email":"","website":"","lastModifiedDateTime":"2024-07-02T20:56:49.55Z"},{"@odata.etag":"W/\"JzIwOzE3Mjc1OTI1NTc3OTQ4ODE3[...]
- request:
    body: '{"requests": [{"method": "GET", "url": "companies(dec6ac9f-b438-ef11-8e52-6045bde9cac0)/customers?$expand=defaultDimensions&$filter=number
      eq ''EXT-TEST-1000003''", "headers": {"Content-Type": "application/json", "If-Match":
      "*"}, "body": {}}]}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - odata.continue-on-error=true
    method: POST
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/$batch
  response:
    body:
      string: '{"responses":[{"id":null,"status":200,"headers":{"content-type":"application/json;
        odata.metadata=minimal; odata.streaming=true","odata-version":"4.0"}, "body"
        :{"@odata.context":"https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/$metadata#companies(dec6ac9f-b438-ef11-8e52-6045bde9cac0)/customers","value":[]}}]}'
    headers:
      Content-Type:
      - application/json
      OData-Version:
      - '4.0'
      mise-correlation-id:
      - d9138d7e-f64e-4885-b010-1abf288d0c42
      ms-correlation-x:
      - 8124a032-194d-a7dc-c19e-b0dd7ae1e198
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"method": "POST", "url": "companies(dec6ac9f-b438-ef11-8e52-6045bde9cac0)/customers",
      "headers": {"Content-Type": "application/json", "If-Match": "*"}, "body": {"paymentMethodId":
      "cba5158a-b538-ef11-8e52-6045bde9cac0", "phoneNumber": "+18888665555", "addressLine1":
      "2 Roosevelt Hotel NY", "addressLine2": "line2", "city": "New York", "state":
      "NY", "country": "US", "postalCode": "19123", "currencyId": "f4861d84-b538-ef11-8e52-6045bde9cac0",
      "currencyCode": "CAD", "defaultDimensions": [{"dimensionId": "8ffefcfe-bd58-ef11-bfe2-000d3a5e9bf0",
      "dimensionValueId": "d8f9b781-6a27-f011-9af7-000d3aefc053"}], "type": "Company",
      "blocked": " ", "displayName": "Customer 1", "email": "test_1@hg4013.com", "website":
      "test.com", "taxLiable": false}}]}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - odata.continue-on-error=true
    method: POST
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/$batch
  response:
    body:
      string: '{"responses":[{"id":null,"status":201,"headers":{"location":"https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/companies(dec6ac9f-b438-ef11-8e52-6045bde9cac0)/customers(682ab937-712b-f011-9a4a-002248a6adda)","content-type":"application/json;
        odata.metadata=minimal; odata.streaming=true","odata-version":"4.0"}, "body"
        :{"@odata.context":"https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/$metadata#companies(dec6ac9f-b438-ef11-8e52-6045bde9cac0)/customers/$entity","@odata.etag":"W/\"JzIwOzEyNzYzNjI0MzYxMTMwNTE5MDMwMTswMDsn\"","id":"682ab937-712b-f011-9a4a-002248a6adda","number":"C01830","displayName":"Customer
        1","type":"Company","addressLine1":"2 Roosevelt Hotel NY","addressLine2":"line2","city":"New
        York","state":"NY","country":"US","postalCode":"19123","phoneNumber":"+18888665555","email":"test_1@hg4013.com","website":"test.com","salespersonCode":"","balanceDue":0,"creditLimit":0,"taxLiable":false,"taxAreaId":"00000000-0000-0000-0000-000000000000","taxAreaDisplayName":"","taxRegistrationNumber":"","currencyId":"f4861d84-b538-ef11-8e52-6045bde9cac0","currencyCode":"CAD","paymentTermsId":"f3861d84-b538-ef11-8e52-6045bde9cac0","shipmentMethodId":"00000000-0000-0000-0000-000000000000","paymentMethodId":"cba5158a-b538-ef11-8e52-6045bde9cac0","blocked":"_x0020_","lastModifiedDateTime":"2025-05-07T18:29:32.617Z"}}]}'
    headers:
      Content-Type:
      - application/json
      OData-Version:
      - '4.0'
      mise-correlation-id:
      - 3375e885-468f-495e-a690-82c6b8f87736
      ms-correlation-x:
      - 0463e070-a7f7-395a-8659-fadbbae37267
    status:
      code: 200
      message: OK
[...]
