interactions:
- request:
    body: redirect_uri=https%3A%2F%2Fqa.hotglue.io%2Fcallback&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://login.microsoftonline.com/common/oauth2/token
  response:
    body:
      string: '{"token_type": "Bearer", "scope": "user_impersonation", "expires_in":
        "4417", "ext_expires_in": "4417", "expires_on": "1774967219", "not_before":
        "1774962501", "resource": "https://api.businesscentral.dynamics.com", "access_token":
        "access_token", "refresh_token": "refresh_token"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-clientdata:
      - e|||microsoftonline.com|none
      x-ms-srs:
      - 1.P
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"method": "GET", "url": "companies", "headers": {"Content-Type":
      "application/json", "If-Match": "*"}, "body": {}}]}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - odata.continue-on-error=true
    method: POST
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/$batch
  response:
    body:
      string: '{"responses":[{"id":null,"status":200,"headers":{"content-type":"application/json;
        odata.metadata=minimal; odata.streaming=true","odata-version":"4.0"}, "body"
        :{"@odata.context":"https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/$metadata#companies","value":[{"id":"2cd06086-7b01-f111-a1fd-7ced8d2674f8","systemVersion":"27.4.45366.47755","timestamp":4686,"name":"CRONUS
        USA, Inc.","displayName":"","businessProfileId":"","systemCreatedAt":"2026-02-04T03:42:28.247Z","systemCreatedBy":"00000000-0000-0000-0000-000000000001","systemModifiedAt":"2026-02-04T03:42:28.247Z","systemModifiedBy":"00000000-0000-0000-0000-000000000001"}]}}]}'
    headers:
      Content-Type:
      - application/json
      OData-Version:
      - '4.0'
      mise-correlation-id:
      - 4d6254fa-1f79-40f6-b9b0-2f4923af31f6
      ms-correlation-x:
      - 664f8875-d70e-f65a-6ea6-7e2fcc4fda25
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"method": "GET", "url": "companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/currencies",
      "headers": {"Content-Type": "application/json", "If-Match": "*"}, "body": {}}]}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - odata.continue-on-error=true
    method: POST
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/$batch
  response:
    body:
      string: '{"responses":[{"id":null,"status":200,"headers":{"content-type":"application/json;
        odata.metadata=minimal; odata.streaming=true","odata-version":"4.0"}, "body"
        :{"@odata.context":"https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/$metadata#companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/currencies","value":[{"@odata.etag":"W/\"JzE3OzU5ODQ4MTI5MDkxNTgyOTY2MTswMDsn\"","id":"07f34a99-7b01-f111-a1fd-7ced8d2674f8","code":"AED","displayName":"United
        Arab Emirates dirham","symbol":"","amountDecimalPlaces":"2:2","amountRoundingPrecision":0.25,"lastModifiedDateTime":"2026-02-04T03:43:04.747Z"},{"@odata.etag":"W/\"JzE5Ozg0NjEwNTU2ODEzMTg0NzI1NzkxOzAwOyc=\"","id":"08f34a99-7b01-f111-a1fd-7ced8d2674f8","code":"AUD","displayName":"Australian
        dollar","symbol":"$","amountDecimalPlaces":"2:2","amountRoundingPrecision":0.01,"lastModifiedDateTime":"2026-02-04T03:43:04.753Z"},{"@odata.etag":"W/\"JzE4OzYxMzc5NjMzNTM0NjE4NDE4NDE7MDA7Jw==\"","id":"09f34a99-7b01-f111-a1fd-7ced8d2674f8","code":"BGN","displayName":"Bulgarian
        leva","symbol":"","amountDecimal[...]
- request:
    body: '{"requests": [{"method": "GET", "url": "companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/paymentMethods",
      "headers": {"Content-Type": "application/json", "If-Match": "*"}, "body": {}}]}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - odata.continue-on-error=true
    method: POST
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/$batch
  response:
    body:
      string: '{"responses":[{"id":null,"status":200,"he[...]
- request:
    body: '{"requests": [{"method": "GET", "url": "companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/dimensions?$expand=dimensionValues",
      "headers": {"Content-Type": "application/json", "If-Match": "*"}, "body": {}}]}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - odata.continue-on-error=true
    method: POST
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/$batch
  response:
    body:
      string: '{"responses":[{"id":null,"status":200,"headers":{"content-type":"application/json;
        odata.metadata=minimal; odata.streaming=true","odata-version":"4.0"}, "body"
        :{"@odata.context":"https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/$metadata#companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/dimensions","value":[{"@odata.etag":"W/\"JzE5OzE4ODY2NDUzODgxNDAwMjk5NTExOzAwOyc=\"","id":"0a91419f-7b01-f111-a1fd-7ced8d2674f8","code":"AREA","displayName":"Area","consolidationCode":"","lastModifiedDateTime":"2026-02-04T03:43:10.617Z","dimensionValues":[{"@odata.etag":"W/\"JzE5OzU1NTI1NDQyNjcxODEwMzE2MTQxOzAwOyc=\"","id":"0f91419f-7b01-f111-a1fd-7ced8d2674f8","code":"10","dimensionId":"0a91419f-7b01-f111-a1fd-7ced8d2674f8","displayName":"Europe","consolidationCode":"","lastModifiedDateTime":"2026-02-04T03:43:10.703Z"},{"@odata.etag":"W/\"JzE5OzQxNDIwNDc3MDM1OTg0Mzk3MzQxOzAwOyc=\"","id":"1091419f-7b01-f111-a1fd-7ced8d2674f8","code":"20","dimensionId":"0a91419f-7b01-f111-a1fd-7ced8d2674f8","displayName":"Europe
        North","consolidationCode":"","lastModifiedDateTime":"2026-02-04T03:43:10.757Z"},{"@odata.etag":"W/\"JzIwOzE3OTE0ODc2MTIwNjUyMjU1NzQ5MTswMDsn\"","id":"1191419f-7[...]
- request:
    body: '{"requests": [{"method": "GET", "url": "companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/accounts",
      "headers": {"Content-Type": "application/json", "If-Match": "*"}, "body": {}}]}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - odata.continue-on-error=true
    method: POST
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/$batch
  response:
    body:
      string: '{"responses":[{"id":null,"status":200,"headers":{"content-type":"application/json;
        odata.metadata=minimal; odata.streaming=true","odata-version":"4.0"}, "body"
        :{"@odata.context":"https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/$metadata#companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/accounts","value":[{"@odata.etag":"W/\"JzE5Ozc2MDMyOTc3NDcwMzA2Mzc2NTcxOzAwOyc=\"","id":"2ff14a99-7b01-f111-a1fd-7ced8d2674f8","number":"10000","displayName":"BALANCE
        SHEET","category":"Assets","subCategory":"Assets","blocked":false,"accountType":"Heading","directPosting":false,"netChange":0,"consolidationTranslationMethod":"Average
        Rate (Manual)","consolidationDebitAccount":"","consolidationCreditAccount":"","excludeFromConsolidation":false,"lastModifiedDateTime":"2026-02-04T03:43:02.557Z"},{"@odata.etag":"W/\"JzIwOzExODYwNzUwMTM2NDEwOTA3MjM1MTswMDsn\"","id":"3c304ba8-ad0d-f111-8405-002248340352","number":"100000","displayName":"Azmat
        Ali","category":"Income","subCategory":"Income","blocked":false,"accountType":"Posting","directPosting":true,"netChange":0,"consolidationTranslationMethod":"Average
        Rate (Manual)","consolidationDebitAccount":"","consolidationCreditAccount":"","excludeFromConsolidation":false,"las[...]
- request:
    body: '{"requests": [{"method": "GET", "url": "companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/locations",
      "headers": {"Content-Type": "application/json", "If-Match": "*"}, "body": {}}]}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - odata.continue-on-error=true
    method: POST
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/$batch
  response:
    body:
      string: '{"responses":[{"id":null,"status":200,"headers":{"content-type":"application/json;
        odata.metadata=minimal; odata.streaming=true","odata-version":"4.0"}, "body"
        :{"@odata.context":"https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/$metadata#companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/locations","value":[{"@odata.etag":"W/\"JzIwOzE4MzMxNDA3OTYyNTMwMTgwMTUwMTswMDsn\"","id":"8596419f-7b01-f111-a1fd-7ced8d2674f8","code":"EAST","displayName":"East
        Warehouse","contact":"Jeff Smith","addressLine1":"South East Street, 3","addressLine2":"","city":"Atlanta","state":"GA","country":"US","postalCode":"31772","phoneNumber":"","email":"","website":"","lastModifiedDateTime":"2026-02-04T03:43:15.01Z"},{"@odata.etag":"W/\"JzIwOzE0MTkzMjAyNDE2MTQwMTc5NTA2MTswMDsn\"","id":"8996419f-7b01-f111-a1fd-7ced8d2674f8","code":"MAIN","displayName":"Main
        Warehouse","contact":"Carole Poland","addressLine1":"520 N Michigan Ave","addressLine2":"","city":"Chicago","state":"IL","country":"US","postalCode":"60611","phoneNumber":"","email":"","website":"","lastModifiedDateTime":"2026-02-04T03:43:17.103Z"},{"@odata.etag":"W/\"JzIwOzE1NjA5MDgyNjAxODk0MTY2[...]
- request:
    body: '{"requests": [{"method": "GET", "url": "companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/purchaseInvoices?$expand=dimensionSetLines,
      purchaseInvoiceLines($expand=dimensionSetLines)&$filter=vendorInvoiceNumber
      eq ''AZ-EXT-TEST-1000007'' or vendorInvoiceNumber eq ''AZ-EXT-TEST-1000007''",
      "headers": {"Content-Type": "application/json", "If-Match": "*"}, "body": {}}]}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - odata.continue-on-error=true
    method: POST
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/$batch
  response:
    body:
      string: '{"responses":[{"id":null,"status":200,"headers":{"content-type":"application/json;
        odata.metadata=minimal; odata.streaming=true","odata-version":"4.0"}, "body"
        :{"@odata.context":"https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/$metadata#companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/purchaseInvoices","value":[{"@odata.etag":"W/\"JzIwOzEzODg4MDkwMTQ3MzAzODY4NjE5MTswMDsn\"","id":"8a6812d2-002d-f111-bec2-002248340352","number":"107269","postingDate":"2026-05-02","invoiceDate":"2025-05-01","dueDate":"2026-05-16","vendorInvoiceNumber":"AZ-EXT-TEST-1000007","vendorId":"b4fac252-f02c-f111-bec2-002248340352","vendorNumber":"AZ-000002","vendorName":"Azmat
        000002","payToName":"Azmat 000002","payToContact":"","payToVendorId":"b4fac252-f02c-f111-bec2-002248340352","payToVendorNumber":"AZ-000002","shipToName":"CRONUS
        International Ltd.","shipToContact":"","buyFromAddressLine1":"","buyFromAddressLine2":"","buyFromCity":"","buyFromCountry":"US","buyFromState":"","buyFromPostCode":"","shipToAddressLine1":"7122
        South Ashford Street","shipToAddressLine2":"Westminster","shipToCity":"Atlanta","shipToCountry":"US","shipToState":"","shipToPostCode":"31772","payToAddressLine1":"","payToAddressLine2":"","payToCity":"","payToCountry":"US","payToState":"","payToPostCode":"","shortcutDimension1Code":"ADM","shortcutDimension2Code":"","currencyId":"11f34a99-7b01-f111-a1fd-7ced8d2674f8","currencyCode":"EUR","orderId":"00000000-0000-0000-0000-000000000000","orderNumber":"","purchaser":"","pricesIncludeTax":false,"discountAmount":0,"discountAppliedBeforeTax":true,"totalAmountExcludingTax":1301.94,"totalTaxAmount":0,"totalAmountIncludingTax":1301.94,"status":"Draft","lastModifiedDateTime":"2026-03-31T12:58:23.803Z","dimensionSetLines":[{"@odata.etag":"W/\"JzIwOzE1ODY5NDI3NTEyMTMyNDU1NjExMTswMDsn\"","id":"0a91419f-7b01-f111-a1fd-7ced8d2674f8","code":"AREA","consolidationCode":"","parentId":"8a6812d2-002d-f111-bec2-002248340352","parentType":"Purchase_x0020_Invoice","displayName":"Area","valueId":"1091419f-7b01-f111-a1fd-7ced8d2674f8","valueCode":"20","valueConsolidationCode":"","valueDisplayName":"Europe
        North"},{"@odata.etag":"W/\"JzIwOzE3NjExMjg3NTU0Mjk1NDkzNzc2MTswMDsn\"","id":"0d91419f-7b01-f111-a1fd-7ced8d2674f8","code":"DEPARTMENT","consolidationCode":"","parentId":"8a6812d2-002d-f111-bec2-002248340352","parentType":"Purchase_x0020_Invoice","displayName":"Department","valueId":"2091419f-7b01-f111-a1fd-7ced8d2674f8","valueCode":"ADM","valueConsolidationCode":"","valueDisplayName":"Administration"}],"purchaseInvoiceLines":[{"@odata.etag":"W/\"JzE5Ozg0ODU4NzcyMDk3MzQ1NDgwNzAxOzAwOyc=\"","id":"44715649-012d-f111-bec2-002248340352","documentId":"8a6812d2-002d-f111-bec2-002248340352","sequence":10000,"itemId":"ac96419f-7b01-f111-a1fd-7ced8d2674f8","accountId":"00000000-0000-0000-0000-000000000000","lineType":"Item","lineObjectNumber":"1900-S","description":"PARIS
        Guest Chair, black","description2":"","unitOfMeasureId":"a1475193-7b01-f111-a1fd-7ced8d2674f8","unitOfMeasureCode":"PCS","unitCost":43.398,"quantity":30,"discountAmount":0,"discountPercent":0,"discountAppliedBeforeTax":false,"amountExcludingTax":0,"taxCode":"FURNITURE","taxPercent":0,"totalTaxAmount":0,"amountIncludingTax":0,"invoiceDiscountAllocation":0,"netAmount":1301.94,"netTaxAmount":0,"netAmountIncludingTax":1301.94,"expectedReceiptDate":"2025-05-01","itemVariantId":"00000000-0000-0000-0000-000000000000","locationId":"00000000-0000-0000-0000-000000000000","dimensionSetLines":[{"@odata.etag":"W/\"JzIwOzEzNjYxMDY0ODY4ODc2ODMyNjE4MTswMDsn\"","id":"0a91419f-7b01-f111-a1fd-7ced8d2674f8","code":"AREA","consolidationCode":"","parentId":"44715649-012d-f111-bec2-002248340352","parentType":"Purchase_x0020_Invoice_x0020_Line","displayName":"Area","valueId":"1091419f-7b01-f111-a1fd-7ced8d2674f8","valueCode":"20","valueConsolidationCode":"","valueDisplayName":"Europe
        North"},{"@odata.etag":"W/\"JzIwOzE0OTYwOTk5OD[...]
- request:
    body: '{"requests": [{"method": "GET", "url": "companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/vendors?$filter=number
      eq ''AZ-000002'' or number eq ''AZ-000001''", "headers": {"Content-Type": "application/json",
      "If-Match": "*"}, "body": {}}]}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - odata.continue-on-error=true
    method: POST
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/$batch
  response:
    body:
      string: '{"responses":[{"id":null,"status":200,"headers":{"content-type":"application/json;
        odata.metadata=minimal; odata.streaming=true","odata-version":"4.0"}, "body"
        :{"@odata.context":"https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/$metadata#companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/vendors","value":[{"@odata.etag":"W/\"JzIwOzE1MTE5MTA4NjY1NDQ3MzY0Njk3MTswMDsn\"","id":"4e012e37-6e2c-f111-bec2-002248340352","number":"AZ-000001","displayName":"Azmat
        000001","addressLine1":"","addressLine2":"","city":"","state":"","country":"US","postalCode":"","phoneNumber":"","email":"","website":"","taxRegistrationNumber":"","currencyId":"00000000-0000-0000-0000-000000000000","currencyCode":"USD","irs1099Code":"","paymentTermsId":"fc475193-7b01-f111-a1fd-7ced8d2674f8","paymentMethodId":"c9f44a99-7b01-f111-a1fd-7ced8d2674f8","taxLiable":false,"blocked":"_x0020_","balance":2746.04,"lastModifiedDateTime":"2026-03-31T12:59:21.113Z"},{"@odata.etag":"W/\"JzE5OzU5Nzc2NjMyODIzNzU4NjYxMDUxOzAwOyc=\"","id":"b4fac252-f02c-f111-bec2-002248340352","number":"AZ-000002","displayName":"Azmat
        000002","addressLine1":"","addressLine2":"","city":"","state":"","country":"US","postalCode":"","phoneNumber":"","email":"","website":"","taxRegistrationNumber":"","currencyId":"00000000-0000-0000-0000-000000000000","currencyCode":"USD","irs1099Code":"","paymentTermsId":"fc475193-7b01-f111-a1fd-7ced8d2674f8","paymentMethodId":"c9f44a99-7b01-f111-a1fd-7ced8d2674f8","taxLiable":false,"blocked":"_x0020_","balance":0,"lastModifiedDateTime":"2026-03-31T10:57:37.773Z"}]}}]}'
    headers:
      Content-Type:
      - application/json
      OData-Version:
      - '4.0'
      mise-correlation-id:
      - b62df01a-1889-4df8-886d-92754892d6ae
      ms-correlation-x:
      - abfb618c-1677-99f2-0fe3-bf90e5ef6bdb
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"method": "GET", "url": "companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/items?$filter=number
      eq ''1900-S''", "headers": {"Content-Type": "application/json", "If-Match":
      "*"}, "body": {}}]}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - odata.continue-on-error=true
    method: POST
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/$batch
  response:
    body:
      string: '{"responses":[{"id":null,"status":200,"headers":{"content-type":"application/json;
        odata.metadata=minimal; odata.streaming=true","odata-version":"4.0"}, "body"
        :{"@odata.context":"https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/$metadata#companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/items","value":[{"@odata.etag":"W/\"JzE5Ozk4Nzk3NTQ3MTg5MDU1MjgzMzkxOzAwOyc=\"","id":"ac96419f-7b01-f111-a1fd-7ced8d2674f8","number":"1900-S","displayName":"PARIS
        Guest Chair, black","displayName2":"","type":"Inventory","itemCategoryId":"9896419f-7b01-f111-a1fd-7ced8d2674f8","itemCategoryCode":"CHAIR","blocked":false,"gtin":"","inventory":103,"unitPrice":192.8,"priceIncludesTax":false,"unitCost":42.547,"taxGroupId":"9ff34a99-7b01-f111-a1fd-7ced8d2674f8","taxGroupCode":"FURNITURE","baseUnitOfMeasureId":"a1475193-7b01-f111-a1fd-7ced8d2674f8","baseUnitOfMeasureCode":"PCS","generalProductPostingGroupId":"1bf14a99-7b01-f111-a1fd-7ced8d2674f8","generalProductPostingGroupCode":"RETAIL","inventoryPostingGroupId":"dcf44a99-7b01-f111-a1fd-7ced8d2674f8","inventoryPostingGroupCode":"RESALE","lastModifiedDateTime":"2026-03-30T19:54:56.05Z"}]}}]}'
    headers:
      Content-Type:
      - application/json
      OData-Version:
      - '4.0'
      mise-correlation-id:
      - 88f52a48-cdca-4356-af88-7b8f1a35810f
      ms-correlation-x:
      - d99a7b56-09d2-3d60-b920-82a3cf806f23
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"method": "PATCH", "url": "companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/purchaseInvoices(8a6812d2-002d-f111-bec2-002248340352)",
      "headers": {"Content-Type": "application/json", "If-Match": "*"}, "body": {"vendorId":
      "b4fac252-f02c-f111-bec2-002248340352", "currencyId": "11f34a99-7b01-f111-a1fd-7ced8d2674f8",
      "currencyCode": "EUR", "vendorInvoiceNumber": "AZ-EXT-TEST-1000007", "dueDate":
      "2026-05-16", "invoiceDate": "2025-05-01", "po[...]
- request:
    body: '{"requests": [{"method": "GET", "url": "companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/purchaseInvoices?$expand=dimensionSetLines&$filter=id
      eq 8a6812d2-002d-f111-bec2-002248340352", "headers": {"Content-Type": "application/json",
      "If-Match": "*"}, "body": {}}]}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - odata.continue-on-error=true
    method: POST
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/[...]
- request:
    body: '{"requests": [{"method": "PATCH", "url": "companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/purchaseInvoices(8a6812d2-002d-f111-bec2-002248340352)/dimensionSetLines(0d91419f-7b01-f111-a1fd-7ced8d2674f8)",
      "headers": {"Content-Type": "application/json", "If-Match": "*"}, "body": {"valueId":
      "2091419f-7b01-f111-a1fd-7ced8d2674f8"}}, {"method": "PATCH", "url": "companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/purchaseInvoices(8a6812d2-002d-f111-bec2-002248340352)/dime[...]
- request:
    body: '{"requests": [{"method": "POST", "url": "companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/purchaseInvoices(8a6812d2-002d-f111-bec2-002248340352)/purchaseInvoiceLines",
      "headers": {"Content-Type": "application/json", "If-Match": "*"}, "body": {"itemId":
      "ac96419f-7b01-f111-a1fd-7ced8d2674f8", "locationId": "8996419f-7b01-f111-a1fd-7ced8d2674f8",
      "lineType": "Item", "description": "Item line 1 description", "taxCode": "FURNITURE",
      "discountAmount": 10.5, "quantity": 30.0, "unitCost": 100.0}, "id": "temp_0"},
      {"method": "POST", "url": "companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/purchaseInvoices(8a6812d2-002d-f111-bec2-002248340352)/purchaseInvoiceLines",
      "headers": {"Content-Type": "application/json", "If-Match": "*"}, "body": {"accountId":
      "cef14a99-7b01-f111-a1fd-7ced8d2674f8", "locationId": "8996419f-7b01-f111-a1fd-7ced8d2674f8",
      "lineType": "Account", "quantity": 1, "description": "Expense line 1 description",
      "taxCode": "FURNITURE", "discountAmount": 10.5, "unitCost": 200.0}, "id": "temp_1"}]}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - odata.continue-on-error=true
    method: POST
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/$batch
  response:
    body:
      string: '{"responses":[{"id":"temp_0","status":201,"headers":{"location":"https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/purchaseInvoices(8a6812d2-002d-f111-bec2-002248340352)/purchaseInvoiceLines(453c1669-032d-f111-bec2-002248340352)","content-type":"application/json;
        odata.metadata=minimal; odata.streaming=true","odata-version":"4.0"}, "body"
        :{"@odata.context":"https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/$metadata#companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)[...]
- request:
    body: '{"requests": [{"method": "PATCH", "url": "companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/purchaseInvoices(8a6812d2-002d-f111-bec2-002248340352)/purchaseInvoiceLines(453c1669-032d-f111-bec2-002248340352)",
      "headers": {"Content-Type": "application/json", "If-Match": "*"}, "body": {"unitCost":
      100.0, "discountAmount": 10.5}}]}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - odata.continue-on-error=true
    method: POST
    uri: htt[...]
[...]
- request:
    body: '{"requests": [{"method": "PATCH", "url": "companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/purchaseInvoiceLines(453c1669-032d-f111-bec2-002248340352)/dimensionSetLines(0d91419f-7b01-f111-a1fd-7ced8d2674f8)",
      "headers": {"Content-Type": "application/json", "If-Match": "*"}, "body": {"valueId":
      "2091419f-7b01-f111-a1fd-7ced8d2674f8"}}, {"method": "POST", "url": "companies(2cd06086-7b01-f111-a1fd-7ced8d2674f8)/purchaseInvoiceLines(453c1669-032d-f111-bec2-00224834035[...]
[...]
