interactions:
- request:
    body: redirect_uri=https%3A%2F%2Fhotglue.xyz%2Fcallback&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://login.microsoftonline.com/common/oauth2/token
  response:
    body:
      string: '{"token_type": "Bearer", "scope": "user_impersonation", "expires_in":
        "4698", "ext_expires_in": "4698", "expires_on": "1765922699", "not_before":
        "1765917700", "resource": "https://api.businesscentral.dynamics.com", "access_token":
        "access_token", "refresh_token": "refresh_token"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-srs:
      - 1.P
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"method": "GET", "url": "companies", "headers": {"Content-Type":
      "application/json", "If-Match": "*"}, "body": {}}]}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - odata.continue-on-error=true
    method: POST
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/$batch
  response:
    body:
      string: '{"responses":[{"id":null,"status":200,"headers":{"content-type":"application/json;
        odata.metadata=minimal; odata.streaming=true","odata-version":"4.0"}, "body"
        :{"@odata.context":"https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/$metadata#companies","value":[{"id":"dec6ac9f-b438-ef11-8e52-6045bde9cac0","systemVersion":"27.1.41698.43234","timestamp":4076,"name":"CRONUS
        USA, Inc.","displayName":"","businessProfileId":"","systemCreatedAt":"2024-07-02T20:49:51.26Z","systemCreatedBy":"00000000-0000-0000-0000-000000000001","systemModifiedAt":"2024-07-02T20:49:51.26Z","systemModifiedBy":"00000000-0000-0000-0000-000000000001"},{"id":"e33d563d-c610-f011-9346-002248a8b9a8","systemVersion":"27.1.41698.43234","timestamp":702599,"name":"HotGlue","displayName":"HotGlue","businessProfileId":"","systemCreatedAt":"2025-04-03T20:00:07.73Z","systemCreatedBy":"a6ffe186-e5fe-4749-8646-221706f29895","systemModifiedAt":"2025-04-03T20:03:28.15Z","systemModifiedBy":"a6ffe186-e5fe-4749-8646-221706f29895"},{"id":"e57eb4a8-b438-ef11-8e52-6045bde9cac0","systemVersion":"27.1.41698.43234","timestamp":4077,"name":"My
        Company","displayName":"","businessProfileId":"","systemCreatedAt":"2024-07-02T20:50:05.987Z","systemCreatedBy":"00000000-0000-0000-0000-000000000001","systemModifiedAt":"2024-07-02T20:50:05.987Z","systemModifiedBy":"00000000-0000-0000-0000-000000000001"}]}}]}'
    headers:
      Content-Type:
      - application/json
      OData-Version:
      - '4.0'
      mise-correlation-id:
      - eef2723e-e64c-4e77-bbe7-37a8b6e31b91
      ms-correlation-x:
      - f6effba4-2787-3b76-5a44-d68516770a87
    status:
      code: 200
      message: OK
- request:
    body: '{"requests": [{"method": "GET", "url": "companies(dec6ac9f-b438-ef11-8e52-6045bde9cac0)/currencies",
      "headers": {"Content-Type": "application/json", "If-Match": "*"}, "body": {}}]}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - odata.continue-on-error=true
    method: POST
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/$batch
  response:
    body:
      string: '{"responses":[{"id":null,"status":200,"headers":{"content-type":"application/json;
        odata.metadata=minimal; odata.streaming=true","odata-version":"4.0"}, "body"
        :{"@odata.context":"https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/$metadata#companies(dec6ac9f-b438-ef11-8e52-6045bde9cac0)/currencies","value":[{"@odata.etag":"W/\"JzIwOzE3MDI0NDQ5NTk3Nzk5ODc4ODk4MTswMDsn\"","id":"f4861d84-b538-ef11-8e52-6045bde9cac0","code":"CAD","displayName":"Canadian
        dollar","symbol":"$","amountDecimalPlaces":"2:2","amountRoundingPrecision":0.01,"lastModifiedDateTime":"2024-07-02T20:56:47.88Z"},{"@odata.etag":"W/\"JzIwOzExNDk5MzQ0NTg1Nzk4NzY5MzYzMTswMDsn\"","id":"84398ee8-3230-f011-9a4a-7c1e52111aff","code":"CHF","displayName":"Swiss
        Franc","symbol":"","amountDecimalPlaces":"2:2","amountRoundingPrecision":0.01,"lastModifiedDateTime":"2025-05-13T19:46:56.767Z"},{"@odata.etag":"W/\"JzIwOzEyMDgxNTgyNzA3NjI1MDc0NDA5MTswMDsn\"","id":"f5861d84-b538-ef11-8e52-6045bde9cac0","code":"EUR","displayName":"Euro","symbol":"\u20ac","amountDecimalPlaces":"2:2","amoun[...]
- request:
    body: '{"requests": [{"method": "GET", "url": "companies(dec6ac9f-b438-ef11-8e52-6045bde9cac0)/paymentMethods",
      "headers": {"Content-Type": "application/json", "If-Match": "*"}, "body": {}}]}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - odata.continue-on-error=true
    method: POST
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/$batch
  response:
    body:
      string: '{"responses":[{"id":null,"status":200,"he[...]
- request:
    body: '{"requests": [{"method": "GET", "url": "companies(dec6ac9f-b438-ef11-8e52-6045bde9cac0)/dimensions?$expand=dimensionValues",
      "headers": {"Content-Type": "application/json", "If-Match": "*"}, "body": {}}]}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - odata.continue-on-error=true
    method: POST
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/$batch
  response:
    body:
      string: '{"responses":[{"id":null,"status":200,"headers":{"content-type":"application/json;
        odata.metadata=minimal; odata.streaming=true","odata-version":"4.0"}, "body"
        :{"@odata.context":"https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/$metadata#companies(dec6ac9f-b438-ef11-8e52-6045bde9cac0)/dimensions","value":[{"@odata.etag":"W/\"JzE5OzU2MTQyMTgxNjcyNjE3Njk1ODYxOzAwOyc=\"","id":"47a6158a-b538-ef11-8e52-6045bde9cac0","code":"AREA","displayName":"Area","consolidationCode":"","lastModifiedDateTime":"2024-07-02T20:57:00.637Z","dimensionValues":[{"@odata.etag":"W/\"JzE5OzQ3NTA1OTEyMTcxNjk0MjgyMDgxOzAwOyc=\"","id":"81a9158a-b538-ef11-8e52-6045bde9cac0","code":"10","dimensionId":"47a6158a-b538-ef11-8e52-6045bde9cac0","displayName":"Europe","consolidationCode":"","lastModifiedDateTime":"2024-07-02T20:57:09.937Z"},{"@odata.etag":"W/\"JzIwOzEyNDgzMzAwMzMzMjE0MzQwMTY2MTswMDsn\"","id":"2d328ca4-f38f-ef11-8a6b-000d3a72d6b7","code":"15","dimensionId":"47a6158a-b538-ef11-8e52-6045bde9cac0","displayName":"Europe
        South (EU)","consolidationCode":"","lastModifiedDateTime":"2024-10-21T21:30:47.893Z"},{"@odata.etag":"W/\"JzE5OzE2MTQzNDU3NDUzOTk2NTY0MDAxOzAwOyc=\"","id":"82a91[...]
- request:
    body: '{"requests": [{"method": "GET", "url": "companies(dec6ac9f-b438-ef11-8e52-6045bde9cac0)/accounts",
      "headers": {"Content-Type": "application/json", "If-Match": "*"}, "body": {}}]}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - odata.continue-on-error=true
    method: POST
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/$batch
  response:
    body:
      string: '{"responses":[{"id":null,"status":200,"headers":{"content-type":"application/json;
        odata.metadata=minimal; odata.streaming=true","odata-version":"4.0"}, "body"
        :{"@odata.context":"https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/$metadata#companies(dec6ac9f-b438-ef11-8e52-6045bde9cac0)/accounts","value":[{"@odata.etag":"W/\"JzE5Ozg5NTA0NjM2Mzg0MTE4NTc0NDkxOzAwOyc=\"","id":"2d616006-de93-f011-b419-002248aac4fa","number":"02394","displayName":"","category":"Assets","subCategory":"","blocked":false,"accountType":"Posting","directPosting":true,"netChange":0,"consolidationTranslationMethod":"Average
        Rate (Manual)","consolidationDebitAccount":"","consolidationCreditAccount":"","excludeFromConsolidation":false,"lastModifiedDateTime":"2025-09-17T15:51:48.667Z"},{"@odata.etag":"W/\"JzIwOzEwNzUyNDU4ODEyMTQyNzc4OTQ0MTswMDsn\"","id":"8e871d84-b538-ef11-8e52-6045bde9cac0","number":"10000","displayName":"Balance
        Sheet","category":"Assets","subCategory":"Assets","blocked":false,"accountType":"Heading","directPosting":false,"netChange":0,"consolidationTranslationMethod":"Average
        Rate (Manual)","consolidationDebitAccount":"","consolidationCreditAccount":"","excludeFromConsolidation":false,[...]
- request:
    body: '{"requests": [{"method": "GET", "url": "companies(dec6ac9f-b438-ef11-8e52-6045bde9cac0)/locations",
      "headers": {"Content-Type": "application/json", "If-Match": "*"}, "body": {}}]}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - odata.continue-on-error=true
    method: POST
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/$batch
  response:
    body:
      string: '{"responses":[{"id":null,"status":200,"headers":{"content-type":"application/json;
        odata.metadata=minimal; odata.streaming=true","odata-version":"4.0"}, "body"
        :{"@odata.context":"https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/$metadata#companies(dec6ac9f-b438-ef11-8e52-6045bde9cac0)/locations","value":[{"@odata.etag":"W/\"JzE5Ozk0MDY3NDMwNjU2Nzg4NDU3MzkxOzAwOyc=\"","id":"89871d84-b538-ef11-8e52-6045bde9cac0","code":"EAST","displayName":"East
        Warehouse","contact":"Jeff Smith","addressLine1":"South East Street, 3","addressLine2":"","city":"Atlanta","state":"GA","country":"US","postalCode":"31772","phoneNumber":"","email":"","website":"","lastModifiedDateTime":"2024-07-02T20:56:49.523Z"},{"@odata.etag":"W/\"JzE5Ozg4MjcwMDUyMzk3NDczMzY1NDExOzAwOyc=\"","id":"8a871d84-b538-ef11-8e52-6045bde9cac0","code":"MAIN","displayName":"Main
        Warehouse","contact":"Carole Poland","addressLine1":"520 N Michigan Ave","addressLine2":"","city":"Chicago","state":"IL","country":"US","postalCode":"60611","phoneNumber":"","email":"","website":"","lastModifiedDateTime":"2024-07-02T20:56:49.55Z"},{"@odata.etag":"W/\"JzE5OzI3MDkyOTEyMDg3NzIwODg2[...]
[...]
- request:
    body: '{"requests": [{"method": "GET", "url": "companies(e57eb4a8-b438-ef11-8e52-6045bde9cac0)/currencies",
      "headers": {"Content-Type": "application/json", "If-Match": "*"}, "body": {}}]}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - odata.continue-on-error=true
    method: POST
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/$batch
  response:
    body:
      string: '{"responses":[{"id":null,"status":400,"headers":{"content-type":"application/json"},
        "body" :{"error":{"code":"Unknown","message":"You cannot sign in to the company
        because your license has expired or the trial period has ended. However, you
        can still use the demonstration company.  CorrelationId:  2449a828-e08a-4eed-8a68-8a4523f2dd00."}}}]}'
    headers:
      Content-Type:
      - application/json
      OData-Version:
      - '4.0'
      mise-correlation-id:
      - 01a48e4e-4345-401e-879b-3d07246ec402
      ms-correlation-x:
      - 12970c0d-29d0-4466-039f-258736558a24
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"requests": [{"method": "POST", "url": "companies(dec6ac9f-b438-ef11-8e52-6045bde9cac0)/customers",
      "headers": {"Content-Type": "application/json", "If-Match": "*"}, "body": {"paymentMethodId":
      "cba5158a-b538-ef11-8e52-6045bde9cac0", "phoneNumber": "+18888665555", "addressLine1":
      "2 Roosevelt Hotel NY", "addressLine2": "line2", "city": "New York", "state":
      "NY", "country": "US", "postalCode": "19123", "type": "Company", "blocked":
      " ", "displayName": "Customer 1", "email": "test_1@hg4013.com", "website": "test.com",
      "taxLiable": false}}]}'
    headers:
      Content-Type:
      - application/json
      Prefer:
      - odata.continue-on-error=true
    method: POST
    uri: https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/$batch
  response:
    body:
      string: '{"responses":[{"id":null,"status":201,"headers":{"location":"https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/companies(dec6ac9f-b438-ef11-8e52-6045bde9cac0)/customers(0fe1e364-c0da-f011-8542-7ced8d4faae3)","content-type":"application/json;
        odata.metadata=minimal; odata.streaming=true","odata-version":"4.0"}, "body"
        :{"@odata.context":"https://api.businesscentral.dynamics.com/v2.0/Production/api/v2.0/$metadata#companies(dec6ac9f-b438-ef11-8e52-6045bde9cac0)/customers/$entity","@odata.etag":"W/\"JzE5OzM1MTY1NjgxMDkxMDQyODExMTkxOzAwOyc=\"","id":"0fe1e364-c0da-f011-8542-7ced8d4faae3","number":"C01980","displayName":"Customer
        1","type":"Company","addressLine1":"2 Roosevelt Hotel NY","addressLine2":"line2","city":"New
        York","state":"NY","country":"US","postalCode":"19123","phoneNumber":"+18888665555","email":"test_1@hg4013.com","website":"test.com","salespersonCode":"","balanceDue":0,"creditLimit":0,"taxLiable":false,"taxAreaId":"00000000-0000-0000-0000-000000000000","taxAreaDisplayName":"","taxRegistrationNumber":"","currencyId":"00000000-0000-0000-0000-000000000000","currencyCode":"","paymentTermsId":"f3861d84-b538-ef11-8e52-6045bde9cac0","shipmentMethodId":"00000000-0000-0000-0000-000000000000","paymentMethodId":"cba5158a-b538-ef11-8e52-6045bde9cac0","blocked":"_x0020_","lastModifiedDateTime":"2025-12-16T20:47:18.807Z"}}]}'
    headers:
      Content-Type:
      - application/json
      OData-Version:
      - '4.0'
      mise-correlation-id:
      - 86712202-2328-460a-b9d9-53136541ddd1
      ms-correlation-x:
      - 204a12df-4145-1e01-5400-0547848e781d
    status:
      code: 200
      message: OK
version: 1
